.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.dockerignore
Dockerfile
**/*.md
!README.md
*.vsix
.git/**
../../**
.DS_Store
**/.DS_Store
